.env
.idea/
.pytest_cache/
.vscode/
__pycache__/
.idea/*
.ipynb_checkpoints/*
agentboard/utils/sheet/credential.json
data/*
alfworld/*
wandb/*
results/*
agentboard/environment/browser_env/config_files/
agentboard/environment/WebShop/search_engine/indexes*
agentboard/environment/WebShop/search_engine/resources*
agentboard/environment/WebShop/user_session_logs*
agentboard/environment/WebShop/subreward_log*
**/.auth
*/__pycache__/
/.ipynb_checkpoints/*